<mat-toolbar color="primary" style="top: 0; z-index: 2000000;">
  <mat-toolbar-row>
    <span style="font-size: 180%; cursor: pointer;" (click)="logoReset()"><span style="font-weight: bolder;color:gold;">S</span>umm<span style="font-weight: bolder;color: gold;">H</span>elper</span>
    
    <div style="font-size: 200%; margin-left: 1rem;" *ngIf="started">|</div>
    <div class="space-between margin-left" style="justify-content: end !important;" *ngIf="started && !startedHighlighting">
      <div> 
        <button mat-raised-button #next id="next" style="float: right;" (click)="stepper.next();startHighlighting();">Start Highlighting &#x2192;</button>
      </div>
    </div>

    <div class="space-between margin-left" *ngIf="startedHighlighting && !flag">
      <div style="display: flex; align-items: center;" >
        <mat-icon aria-hidden="false" fontIcon="auto_fix_high" class="clickable margin-right-more icon" style="padding: 5px;" matTooltip="suggest initial highlight" [ngClass]="{'clicked': (isInInitialHighlightMode$ | async)}" (click)="toggleInitialHighlightMode()"></mat-icon>
        <mat-icon class="clickable padding-erase icon" matTooltip="highlight" [ngClass]="{'clicked': !(isInEraseMode$ | async)}" (click)="deactivateEraseMode()"><img src="https://nlp.biu.ac.il/~sloboda1/assets/highlight_new_white.svg" alt="highlight"/> </mat-icon>
        <mat-icon class="clickable padding-erase icon" matTooltip="erase" [ngClass]="{'clicked': isInEraseMode$ | async}" (click)="activateEraseMode()"><img src="https://nlp.biu.ac.il/~sloboda1/assets/erase.svg" alt="erase"/> </mat-icon>
        <mat-icon aria-hidden="false" fontIcon="undo" class="clickable margin-right-more icon" matTooltip="undo" (click)="undo()"></mat-icon>
        <mat-icon aria-hidden="false" fontIcon="restart_alt" class="clickable icon" matTooltip="reset" (click)="resetHighlightStage()"></mat-icon>
      </div>
      <div> 
        <button mat-raised-button class="margin-right" (click)="stepper.previous(); stopHighlighting()">&#x2190; Edit Text</button>
        <button mat-raised-button (click)="stepper.next();summarizeText(); flag = true">Summarize &#x2192;</button>
      </div>
    </div>

    <div class="space-between margin-left" *ngIf="(summary && summary.summaryText) && flag">
      <div style="display: flex; align-items: center;" >
        <mat-icon aria-hidden="false" fontIcon="undo" class="clickable margin-right-more icon" matTooltip="undo text edits" (click)="unnecessaryUndo()"></mat-icon>
        <mat-icon aria-hidden="false" fontIcon="restart_alt" class="clickable margin-right-more icon" matTooltip="reset" (click)="resetSummaryStage()"></mat-icon>
        <mat-icon aria-hidden="false" fontIcon="download" class="clickable icon" matTooltip="download summary" (click)="saveToDB();saveToFile();"></mat-icon>

      </div>
      <div> 
        <button mat-raised-button (click)="stepper.previous(); flag = false">&#x2190; Back To Highlighting</button>
        <button mat-raised-button (click)="stepper.next();summarizeText()" style="visibility: collapse;">Summarize &#x2192;</button>
      </div>
    </div>

  </mat-toolbar-row>
</mat-toolbar>
<div id="droppable" style="
    height: 100%;
    position: absolute;
    width: 100%;
    top: 0
">
</div>
  <div *ngIf="!started" class="main horizontal">
    <div style="font-size: 400%; margin-bottom: 3rem;">Welcome to SummHelper</div>
    <div class="buttons-container icon">
      <button (click)="startWriting()" mat-raised-button color="primary">Lets Go!</button>
  </div>
</div>

<mat-stepper [linear]="true" #stepper class="main margin-top-main" [ngClass]="{'special': (summary && summary.summaryText)}" *ngIf="started">
  <mat-step [stepControl]="textFormGroup">
    <form [formGroup]="textFormGroup">
      <ng-template matStepLabel>Write Text</ng-template>
      <mat-form-field class="document-container">
        <mat-label>Enter text to summarize</mat-label>
        <textarea rows="16" id="droppable2" style="z-index: 99999999999999999999999999;" matInput placeholder="Enter text here..." formControlName="text" required class="text-area" [readonly]="startedHighlighting"> </textarea>
      </mat-form-field>
    </form>
    <div style="display: flex; align-items: center; justify-content: center;" >
      <div class="form-group" style="position: absolute;">
        <input type="file"
                id="file"
                #fileUpload
                (change)="handleFileInput($event)" style="visibility: hidden;left: 0;height: 0;">
      </div>
      <button mat-raised-button color="primary" style="margin-top: 0.5rem;  transform: scale(1.5);" (click)="fileUpload.click()">Upload a txt/docx file</button>
    </div>
    <div style="display: flex; margin-top: 2rem; align-items: center; justify-content: center; transform: scale(1.5);" >
      <b>Or drop it here</b>
    </div>
  </mat-step>
  <mat-step [stepControl]="highlightFormGroup" label="Highlight">
    <ng-template matStepContent>
      <ng-template matStepLabel>Highlight</ng-template>
      <div style="display: flex;">
        <div style="font-size: 250%;margin-bottom: 2rem; margin-top: 1rem;">Highlight</div><div style="font-size: 250%;margin-bottom: 2rem; margin-top: 1rem;">:</div>
      </div>
      <div style="margin-bottom: 0.5rem;">
        Highlight what information to include in the summary. <b>If you are not sure, use the suggested highlights.</b>
      </div>
      <form [formGroup]="highlightFormGroup" *ngIf="initialHighlights else loading">
      <app-highlight-text [text]="textFormGroup.value.text" [highlightColor]="'yellow'" [tempHighlightColor]="'rgb(255, 253, 208)'" [initialHighlightColor]="'rgba(255, 253, 208, 0.8)'" [initialHighlightIndexes]="initialHighlights"></app-highlight-text>
    </form>
  </ng-template>
  </mat-step>
    <ng-template #loading>
      <mat-spinner class="middle"></mat-spinner>
    </ng-template>
  <mat-step>
    <ng-template matStepLabel>Summary</ng-template>
    <ng-template matStepContent label="Summary">
      <div *ngIf="(summary && summary.summaryText) else loading">
        <div class="vertical">
          <div class="padding-right box1" >
            <div style="display: flex;">
              <div style="font-size: 250%; margin-bottom: 2rem; margin-top: 1rem;">Summary</div><div style="font-size: 250%;margin-bottom: 2rem; margin-top: 1rem;">:</div>
            </div>
            <div style="margin-bottom: 0.5rem;">
              Hover or click summary sentences to see where they came from in the text, and edit the summary accordingly.
            </div>
            <app-highlight-unnecessary-information *ngIf="shouldSeeSummary" [originalText]="textFormGroup.value.text" [text]="summary.summaryText" [highlightColor]="'rgba(255, 154, 122, 0)'" [tempHighlightColor]="'rgba(255, 160, 123, 0)'" (summaryChanged)="saveSummaryText($event)" (finishEmitter)="finish()"></app-highlight-unnecessary-information>
          </div>
          <mat-divider [vertical]="true"></mat-divider>
          <div class="padding-left box2">
            <div style="display: flex;">
              <div style="font-size: 250%;margin-bottom: 2rem; margin-top: 1rem;">Original Text</div><div style="font-size: 250%;margin-bottom: 2rem; margin-top: 1rem;">:</div>
            </div>
              <app-highlight-missing-information [text]="textFormGroup.value.text" [highlightColor]="'rgba(255, 154, 122, 0)'" [tempHighlightColor]="'rgba(255, 160, 123, 0)'" [summaryHighlightColor]="'yellow'"></app-highlight-missing-information>
          </div>          
        </div>
      </div> 
    </ng-template>
  </mat-step>
</mat-stepper>
